body {
    background-color: #EAEDF1;
}

div {
    border-radius: 3px;
}

button {
    border-radius: 4px;
}

li:not(:first-child) {
    margin-top: 14px;
}

ul {
    list-style-image: url(../../images/marker.PNG);
    margin: 35px 0;
    padding-left: 29px;
}

.box {
    width: 1350px;
    margin: 0 auto;
}

.block-1 {
    background-color: white;
}

.block-2 {
    background-color:#DBE1E8;
}

.left-block {
    width: 635px;
}

.title-block {
    height: 295px;
    margin-top: 85px;
    justify-content: space-between;
    display: flex;
}

.name-block {
    width: 435px;
}

.contacts-block {
    width: 825px;
    margin-left: 90px;
}

.content-block {
    margin: 35px 0;
    display: flex;
    justify-content: space-between;
}

.job-block {
    margin-bottom: 35px;
    padding: 24px 25px 23px 25px;
}

.job-list {
    color: #33495F;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.job-name {
    color: #33495F;
    font-family: 'Signika Negative', sans-serif;
    font-size: 25px;
}

.job-name-2 {
    color: #33495F;
    font-family: 'Signika Negative', sans-serif;
    font-size: 23px;
}

.job-desc {
    color: #9EA7B4;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin-left: 8px;
}

.job-desc-2 {
    color: #7A8698;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin-left: 8px;
}

.job-pos {
    color: #04BCA6;
    font-family: 'Signika Negative', sans-serif;
    font-size: 21px;
}

.job-pos-2 {
    color: #00B9D8;
    font-family: 'Signika Negative', sans-serif;
    font-size: 19px;
}

.marker-img {
    margin-right: 7px;
}

.job-footer {
    color: #9EA7B4;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
}

.job-footer-2 {
    color: #33495F;
    font-size: 14px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
}

.job-span {
    display: inline-flex;
    align-items: center;
}

.site-button {
    color: white;
    font-size: 15px;
    border: 0px;
    height: 38px;
    width: 218px;
}

.job-site-button {
    background: #16C4EC;
}

.job-site-button-2 {
    background: #10CDC1;
}

.dot-separator {
    margin: 32px 0;
    color: #C2CAD4;
}

.name-block .card  {
    align-items: center;
    display: flex;
    vertical-align: middle;
    margin-top: 34px;
}

.name-block .avatar{
    margin-left: 26px;
}

.name-block .desc-block {
    margin-left: 43px;
}

.name-block .desc-block .name-text {
    font-size: 27px;
    font-family: 'Lato', sans-serif;
}

.name-block .desc-block .city-text {
    margin-top: 3px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #586879;
}