

body {
    background-color: #EAEDF1;
}

div {
    border-radius: 3px;
}

button {
    border-radius: 4px;
}

li:not(:first-child) {
    margin-top: 14px;
}

ul {
    list-style-image: url(../../images/marker.PNG);
    margin: 35px 0;
    padding-left: 29px;
}

.box {
    width: 1350px;
    margin: 0 auto;
}

.block-1 {
    background-color: white;
}

.block-2 {
    background-color:#DBE1E8;
}

.left-block {
    width: 635px;
}

.title-block {
    height: 295px;
    margin-top: 85px;
    justify-content: space-between;
    display: flex;
}

.name-block {
    position: relative;
    width: 435px;
}

.contacts-block {
    display: flex;
    width: 825px;
    margin-left: 90px;
}

.content-block {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.job-block {
    margin-bottom: 35px;
    padding: 24px 25px 23px 25px;
}

.job-list {
    color: #33495F;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.job-name {
    color: #33495F;
    font-family: 'Signika Negative', sans-serif;
    font-size: 25px;
}

.job-name-2 {
    color: #33495F;
    font-family: 'Signika Negative', sans-serif;
    font-size: 23px;
}

.job-desc {
    color: #9EA7B4;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin-left: 8px;
}

.job-desc-2 {
    color: #7A8698;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin-left: 8px;
}

.job-pos {
    color: #04BCA6;
    font-family: 'Signika Negative', sans-serif;
    font-size: 21px;
}

.job-pos-2 {
    color: #00B9D8;
    font-family: 'Signika Negative', sans-serif;
    font-size: 19px;
}

.job-pos-3 {
    color: #04BCA6;
    font-family: 'Signika Negative', sans-serif;
    font-size: 19px;
}

.marker-img {
    margin-right: 7px;
}

.job-footer {
    color: #9EA7B4;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
}

.job-footer-2 {
    color: #33495F;
    font-size: 14px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
}

.job-span {
    display: inline-flex;
    align-items: center;
}

.site-button {
    color: white;
    font-size: 15px;
    border: 0px;
    height: 38px;
    width: 218px;
}

.job-site-button {
    background: #16C4EC;
}

.job-site-button-2 {
    background: #10CDC1;
}

.site-button-gray {
    background: #B0BBCA;
}

.dot-separator {
    margin: 32px 0;
    color: #C2CAD4;
}

.name-block .card  {
    align-items: center;
    display: flex;
    vertical-align: middle;
    margin-top: 34px;
}

.name-block .avatar{
    margin-left: 26px;
}

.name-block .desc-block {
    margin-left: 43px;
}

.name-block .desc-block .name-text {
    font-size: 27px;
    font-family: 'Signika', sans-serif;
}

.name-block .desc-block .city-text {
    margin-top: 3px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #586879;
}

.timeline {
    position: relative;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #DBE1E8;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline-year {
    position: relative;
    margin: 0 auto;
    width: 72px;
    background: #DBE1E8;
    margin-top: 1174px;
    text-align: center;
    z-index: 1;
    color: white;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    line-height: 34px;
}

.timeline-circle {
    position: absolute;
    margin-left: 26px;
    content: '';
    height: 20px;
    width: 20px;
    background: #DBE1E8;
    border-radius: 50%;
}

.timeline-white {
    background: white;
    z-index: 1;
}

.timeline-circle-1 {
   margin-top: 262px;
}

.timeline-circle-2 {
    margin-top: 462px;
}

.timeline-circle-3 {
    margin-top: 682px;
}

.timeline-circle-4 {
    margin-top: 896px;
}

.timeline-circle-5 {
    margin-top: 1054px;
}

.timeline-circle-6 {
    margin-top: 161px;
}

.timeline-circle-7 {
    margin-top: 525px;
}

.timeline-circle-8 {
    margin-top: 820px;
}

.timeline-circle-9 {
    margin-top: 1010px;
}

.marker {
    content: '';
    position: absolute;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin-left: -5px;
}


.star-ratings-sprite {
    background: url("../../images/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
}

.star-ratings-sprite-rating {
    background: url("../../images/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display:block;
}
.contacts-block {
    display: flex;
    width: 825px;
    margin-left: 90px;
}

.contact-desc {
    width: 410px;
    margin: 45px 30px;
}

.contact-desc .header {
    color: #33495F;
    font-size: 38px;
    font-family: 'Signika', sans-serif;
}

.contact-desc .desc {
    padding-top: 10px;
    color: #33495F;
    font-size: 20px;
    font-family: 'Signika Negative', sans-serif;
    line-height: 30px;
}

.share {
    width: 410px;
    margin-top: 10px;
    margin-left: -20px;
}

.social {
    display: inline-block;
    width: 65px;
    height: 40px;
    vertical-align: middle;
    background-color: #bdc3c7;
    background: url("../../images/social.png") no-repeat;
    background-position-y: -10px;
    background-position-x: -5px;
}

.social-2 {
    background-position: -70px -10px;
}

.social-3 {
    background-position: -140px -10px;
}

.social-4 {
    background-position: -210px -10px;
}

.social-5 {
    background-position: -280px -10px;
}

.social-6 {
    background-position: -350px -10px;
}

.contacts {
    margin-left: 45px;
    margin-top: 105px;
    font-size: 24px;
    font-family: 'Signika Negative', sans-serif;
}
.web {
    padding-top: 15px;
    color: #FA5351;
    letter-spacing: 1px;
    align-content: center;
}

.contacts .line {
    height: 1px;
    background-color: black;
    margin-top: 30px;
}

.card-icons {
    width: inherit;
    height: 80px;
    position: absolute;
    bottom: 0px;
}

.card-icon {
    width: 25%;
    height: inherit;
    border-radius: 0px;
    float: left;
    background: url("../../images/cards.png") no-repeat;
}

.card-icon-1 {
    background-color: #16C4EC; 
}

.card-icon-2 {
    background-color: #FA5351;
    background-position-x: -107px;
}

.card-icon-3 {
    background-color: #10CDC1;
    background-position-x: -214px;
}

.card-icon-4 {
    background-color: #33495F;
    background-position-x: -321px;
}

.media {
    height: 390px;
    background: white;
    border-radius: 0px;
    padding-top: 17px;
}

.media-types {
    margin-left: 17px;
    height: 100px;
}

.media-type {
    border-radius: 0px;
    float: left;
    width: 77px;
    margin: 0 auto;
}

.media-type:not(:first-child) {
    margin-left: 25px;
}

.media-icon {
    width: 77px;
    height: 77px;
    border-radius: 50%;
}

.media-title {
    padding-top: 10px;
    font-family: 'Signika', sans-serif;
    font-size: 14px;
    bottom: 0;
    text-align: center;
    color: #33495F;
}

.media-icon {
    background: url("../../images/media.png") no-repeat;
}

.media-icon-2 {
    background-position-x: -103px;
}

.media-icon-3 {
    background-position-x: -206px;
}

.media-icon-4 {
    background-position-x: -309px;
}

.media-icon-5 {
    background-position-x: -412px;
}

.media-icon-6 {
    background-position-x: -515px;
}


.media-type:nth-child(odd) .media-icon {
    background-color: #10CDC1;
}
.media-type:nth-child(even) .media-icon {
    background-color: #16C4EC;
}

.progress-bars {
    display: flex;
    padding-left: 20px;
    margin-top: 40px;
}

progress
{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    left: -777px;
}

.progress
{
    margin-top: 14px;
    font: 12px Arial, Tahoma, sans-serif;
    width: 270px;
}

.progress-left {
    background: #10CDC1;
}

.progress-right {
    background: #16C4EC;
}

.progress-bar
{
    overflow: hidden;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.progress-bar-1 {
    width: 80%;
}

.progress-bar-2 {
    width: 55%;
}

.progress-bar-3 {
    width: 95%;
}

.progress-bar-4 {
    width: 85%;
}

.progress-bar-5 {
    width: 80%;
}

.progress-bar-6 {
    width: 75%;
}

.progress-value-1 {
    margin-left: 125px;
}

.progress-value-2 {
    margin-left: 62px;
}

.progress-value-3 {
    margin-left: 165px;
}

.progress-value-4 {
    margin-left: 135px;
}

.progress-value-5 {
    margin-left: 40px;
}

.progress-value-6 {
    margin-left: 72px;
}

.progress-value-7 {
    margin-left: 65px;
}

.progress-value-8 {
    margin-left: 85px;
}


.progress-value
{
    position: relative;
    color: white;
    line-height: 18px;
    width: 38px;
    height: 18px;
    background-color: #34495E;
    margin-bottom: 6px;
    text-align: center;
}

.progress-value::after {
    content: ''; 
    position: absolute;
    border: 4px solid transparent; 
    border-top: 4px solid #34495E;
    left: 14px; 
    bottom: -8px;
}

.progress-bg
{
    background: #e6e9ed;
    position: relative;
    height: 15px;
    border-radius: 6px;
    overflow: hidden;
}

.progress-title {
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    color: #34495E;
}

.footer-block {
    color: #CED4DD;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.quote {
    font-size: 110px;
}

.footer-text {
    line-height: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #34495E;
    font-style: italic;
    margin: 25px 15px;
}